.quick {
  position: fixed;
  bottom: 1%;
  right: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: red; */
  z-index: 999;
  gap: 10px;
}
#chat span {
  position: absolute;
  top: -10px;
  left: -180px;
  background-color: #c8a97e;
  padding: 8px 15px;
  border-radius: 23px;
  text-align: center;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}
.chat-btn {
  width: 80px;
  border-radius: 100%;
  animation: updown 1.5s infinite;
}
@keyframes updown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(0);
  }
}
#chat:hover span {
  opacity: 1;
  visibility: visible;
}
#gotop {
  display: none;
  cursor: pointer;
}
